@CHARSET "UTF-8";

/* Define rules for the header
   This should be used in all pages */
#header {
  margin: 1em auto 2em auto;
  clear: both;
  text-align: center;
}

#header h1 {
  margin-bottom: 0.139em;
}

#header h4 {
  margin-bottom: 0.555em;
}

#header .nav li {
  display: inline-block;
  padding: 0.5em;
  border: 0.2em solid #C0C0C0;
}

#header .nav li a {
  font-size: 1.6em;
}

#header img {
  max-height: 100%;
  width: auto;
}