@CHARSET "UTF-8";

/* ==========================================================================*/
/* Index.html */
/* ==========================================================================*/
#content {
  width: calc(80% - 21em);
  display: inline-block;
  background-color: #FFA500;
  border-radius: 1em;
  margin: 0em 1em 0em 1em;
}

.article {
  background-color: #FFF0F5;
  margin: 1.5em;
  border-radius: 1em;
  padding: 1em 1em;
  line-height: 1.2;
  overflow: hidden;
}

.article-text p {
  font-size: 1.6em;
}

.article-text h2 {
  margin-bottom: 0.333em;
}

.article-text img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 1em;
}

.article-text p+a {
  display: block;
  font-size: 1.6em;
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  font-weight: bold;
}

.article-author {
  font-size: 1.4em;
  float: right;
}

.article.link {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  margin: 0.938em;
}

/* For widths below 1024px, the right sidebar moves down */
@media ( max-width : 1023px) {
  #content {
    width: calc(100% - 20em);
  }
}

/* For widths below 768, the menu moves up */
@media ( max-width : 767px) {
  #content {
    width: calc(100% - 2em);
  }
}

/* For widths up to 479, make it pretty */
@media ( max-width : 479px) {
  .article-text img {
    display: block;
    float: initial;
    margin: 0em;
    margin-bottom: 1em;
  }
}

/* ==========================================================================*/
.profile-row {
  width: 100%;
}

.profile-row>.profile {
  margin: 5px auto;
  width: 48%;
  display: inline-block;
}

.profile-row>.profile p:first-of-type {
  margin-bottom: 10px;
}

.profile-row>.profile img {
  max-width: 128px;
}

#main-image {
  overflow: hidden;
  margin: 5px 5px 0px 5px;
  line-height: 0;
}

#main-image img {
  max-height: 50%;
}

.weekly-suggestion h1 {
  margin-bottom: 15px;
}

.thumbnail {
  display: block;
  margin: 0px auto 5px auto;
}

.quote {
  margin-top: 15px;
  font-style: italic;
}

.signature {
  float: right;
  margin-bottom: 100px;
}

.signature img {
  max-width: 72px;
  height: auto;
  float: right;
}

.signature span {
  clear: right;
  display: block;
  font-weight: bold;
}