{% extends "layout.html" %}
{% block ngapp %}ng-app=activityPage {% endblock ngapp %}
{% block css %}
<link rel="stylesheet" href="/static/css/search.css">
{% endblock css %}

{% block main %}
  <div ng-controller="AddImageCtrl" class="container">
    <div class="page-header">
      <h2>Image search</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-2">
              <label class="control-label">Tags:</label>
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" ng-model="tags">
            </div>
            <div ng-hide="searching" class="col-xs-2">
              <button class="btn btn-primary btn-block"
                ng-click="searchImages()">Search</button>
            </div>
            <div ng-show="searching" class="col-xs-2">
              <p class="form-control-static">Searching...</p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-repeat="image_chunk in image_chunks" class="row">
      <div ng-repeat="image in image_chunk" class="col-xs-2">
        <div class="thumbnail search-thumbnail"><img ng-src="{% verbatim %}{{image}} {% endverbatim %}">
          <div class="caption">
            <p><a href="/edit/activity/{{activity_id}}/attach/?image_url={% verbatim %}{{encodeURIComponent(image)}}{% endverbatim %}" class="btn btn-block btn-success">Pick me!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
{% block jslibs %}
  <script type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/activity.js"></script>
{% endblock jslibs %}