{% extends "layout.html" %}
{% block ngapp %}ng-app="userPage"{% endblock ngapp %}
{% block css %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock css %}
{% block navbarcontent %}
<div class="navbar-right">
  {% if user_not_yet_twitter %}
  <a class="btn btn-success navbar-btn" href="/sign_in_twitter">Link my twitter account</a>
  {% else %}
  <a class="btn btn-danger navbar-btn" href="/delete_twitter_link">Unlink my twitter account</a>
  {% endif %}
  <a class="btn btn-warning navbar-btn" href="/logout">Logout</a>
</div>
{% endblock navbarcontent %}
{% block main %}
  <div ng-cloak class="container">
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <form ng-controller="UserPageCtrl" class="form-horizontal"
            action="/create/group" method="POST">
            <h3>Create new group</h3>
            <!-- http://getbootstrap.com/components/#alerts -->
            {% if success %}
            <div class="alert alert-success">Group created:
              {{success_group}}</div>
            {% endif %} {% if error %}
            <div class="alert alert-danger">{{error_message}}</div>
            {% endif %}
            <hr>
            <div class="form-group">
              <!-- Needs individual div to specify size of input and label -->
              <div class="col-xs-4">
                <label class="control-label" for="name">Name:</label>
              </div>
              <div class="col-xs-8">
                <input class="form-control" id="name" name="name"
                  autofocus placeholder="Web engineering Zurich">
              </div>
            </div>
            <div class="form-group">
              <!-- Needs individual div to specify size of input and label -->
              <div class="col-xs-4">
                <label class="control-label" for="city">City:</label>
              </div>
              <div class="col-xs-8">
                <input class="form-control" id="city" name="city"
                  autofocus placeholder="Zurich">
              </div>
            </div>
            <div class="form-group">
              <!-- Needs individual div to specify size of input and label -->
              <div class="col-xs-4">
                <label class="control-label" for="new-member">Initial
                  members:</label>
              </div>
              <div class="col-xs-8">
                <select class="form-control" id="new-member"
                  name="new-member" autofocus ng-model="selectedMember">
                  {% for member in members %}
                  <option value="{{member.username}}">{{member.username}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <button class="btn btn-success btn-block"
                  ng-click="addMember($event)">Add member</button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-warning btn-block"
                  ng-click="removeLastMember($event)">Remove
                  last member</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <!-- https://docs.djangoproject.com/en/1.5/ref/templates/builtins/#verbatim -->
                <textarea id="members" name="members" rows="10"
                  class="form-control" readonly>{% verbatim %}{{memberList}}{% endverbatim %}</textarea>
              </div>
            </div>
            <div class="form-group">
              <!-- Left side 8, then width is 4 -->
              <div class="col-xs-12">
                <!--  Submit button -->
                <input type="submit" class="btn btn-primary btn-block"
                  value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <h3>Groups I Own</h3>
            <hr>
            <!-- Horizontal rule (line) -->
            <!--  http://getbootstrap.com/components/#list-group -->
            <div class="list-group">
              {% for group in groups_owned %} <a class="list-group-item"
                href="/group/{{group.id}}">{{group.name}}
                ({{group.city}})</a> {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Groups I am member of</h3>
            <hr>
            <div class="list-group">
              {% for group in groups_member %} <a
                class="list-group-item" href="/group/{{group.id}}">{{group.name}}
                ({{group.city}})</a> {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
{% block jslibs %}
  <script type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/user.js"></script>
{% endblock jslibs %}
  