@CHARSET "UTF-8";

/* ==========================================================================*/
/* Index.html */
/* ==========================================================================*/
#content {
  width: calc(80% - 21em);
  display: inline-block;
  background-color: #FFA500;
  border-radius: 1em;
  margin: 0em 1em 0em 1em;
}

.article {
  background-color: #FFF0F5;
  margin: 1.5em;
  border-radius: 1em;
  padding: 1em 1em;
  line-height: 1.2;
  overflow: hidden;
}

.article-text p {
  font-size: 1.6em;
}

.article h2 {
  margin-bottom: 0.333em;
}

.article-text img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 1em;
}

.article-text p+a {
  display: block;
  font-size: 1.6em;
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  font-weight: bold;
}

.article-author {
  font-size: 1.4em;
  float: right;
}

.article.link {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  margin: 0.938em;
}

/* For widths below 1024px, the right sidebar moves down */
@media ( max-width : 1023px) {
  #content {
    width: calc(100% - 20em);
  }
}

/* For widths below 768, the menu moves up */
@media ( max-width : 767px) {
  #content {
    width: calc(100% - 2em);
  }
}

/* For widths up to 479, make it pretty */
@media ( max-width : 479px) {
  .article-text img {
    display: block;
    float: initial;
    margin: 0em;
    margin-bottom: 1em;
  }
}

/* ==========================================================================*/
/* Reviewers.html */
/* ==========================================================================*/
.profile-row :not(:last-of-type){
    margin-bottom : 1em;
}
.main-profile {
  width: calc(50% - 0.5em);
  display: inline-block;
  vertical-align: top;
}

.main-profile:first-of-type {
  margin-right: 1em;
}

.main-profile p {
  font-size: 1.6em;
}

.main-profile p:first-of-type {
  margin-bottom: 0.625em;
}

.main-profile img {
  float: left;
  max-width: 20%;
  margin-right: 1em;
}

/* For widths up to 479, make it pretty */
@media ( max-width : 479px) {
  .main-profile p {
    clear: left;
  }
}

/* ==========================================================================*/
/* Weekly.html */
/* ==========================================================================*/
#main-image {
  overflow: hidden;
  margin: 0em 1em;
  line-height: 0;
  border-radius: 1em;
}

#main-image img {
  border-radius: 0em;
  width: auto;
  max-height: 50%;
  width: auto;
  position: relative;
  left: 0em;
}

.weekly-suggestion h2 {
  margin-bottom: 0.667em;
}

.weekly-suggestion p {
  font-size: 1.6em;
}

#thumbnail {
  max-width: calc(50% - 2em);
  margin: 0em auto 1em auto;
  position: relative;
  line-height: 0;
}

#thumbnail img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  border: 0.4em solid black;
  width: calc(100% - 0.4em);
  height: calc(100% - 0.8em);
  border-radius: 1em;
}

.quote {
  margin: 0.625em 0em;
  font-style: italic;
}

.signature {
  float: right;
  margin-bottom: 10em;
}

.signature img {
  max-width: 20%;
  height: auto;
  float: right;
}

.signature span {
  clear: both;
  float: right;
  font-weight: bold;
  font-size: 1.6em;
  font-weight: bold;
}

/*
@media ( orientation : landscape) {
  #main-image {
    overflow-x: auto;
  }
}
*/

/* @media ( orientation : portrait) {
  #main-image img {
    max-width: 100%;
    height: auto;
    max-height: none;
  }
  .thumbnail {
    display: none;
  }
} */

